body{
	background-color: white;
	color: black;
    font-family: 'Open Sans Condensed',  Arial, sans-serif;
    font-size: 18px;
}

.container{
    margin: 0 auto;
    margin-top: 20px;
	width: 85%;
    max-width: 960px;
    
    display: grid;
    grid-template-columns: 270px 1fr 1fr;
}

.is-current{
    color: black;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 2px solid black;
}

header a{
    grid-column: 1/2;
}

header a, nav a{
    text-decoration: none;
    color: black;
}

header a{
    display: block;
    position: relative;
}

.profile-picture{
    margin-left: 40px;
}

main{
    grid-column: 1/4;
}

h1{
    font-family: 'Staatliches', sans-serif;
    font-size: 38px;
}

h2{
    font-family: 'Staatliches', sans-serif;
}

aside{
    font-style: italic;
    grid-column: 2/4;
    font-size: 24px;
    margin-left: 30px;
    padding-top: 205px;
}

aside ul{
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

aside li{
    list-style: none;
}

article {
    grid-column: 1/4;
    margin: 0px 0px;
}

footer{
    font-family: 'Open Sans Condensed',  Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    grid-column: 1/2;
}

nav{
    text-align: center;
    grid-column: 1/4;
    margin-bottom: 20px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

nav li{
    list-style: none;
    padding: 0;
    margin: 0;

    margin-left: 20px;
    
}

nav a{
    padding: 0;
}
