body{
	background-color: white;
	color: black;
    font-family: 'Open Sans Condensed',  Arial, sans-serif;
    font-size: 18px;
}


.container{
    margin: 0 auto;
    margin-top: 20px;
	width: 85%;
    max-width: 960px;
    
    display: grid;
    grid-template-columns: 270px 1fr 1fr;
}

.is-current{
    background-color: black;
    color: white;
}

header{
    grid-column: 1/2;
}

header a, nav a{
    text-decoration: none;
    color: black;
}

header a{
    display: block;
    position: relative;
}

header h1 {
    transform: rotate(-90deg);
    position: absolute;
    z-index: 100;
    top: 100px;
    left: -132px;
    letter-spacing: 4.6px;
}

.profile-picture{
    margin-left: 40px;
}

.gene

h1{
    font-family: 'Staatliches', cursive;
    font-size: 38px;
}

h2{
    font-family: 'Staatliches', cursive;
}

aside{
    font-style: italic;
    grid-column: 2/4;
    font-size: 24px;
    margin-left: 30px;
    padding-top: 205px;
}

aside ul{
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

aside li{
    list-style: none;
}

article {
    grid-column: 1/4;
    margin: 0px 0px;
}

footer{
    font-family: 'Open Sans Condensed',  Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    grid-column: 1/2;
}

nav{
    grid-column: 2/4;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

nav li{
    list-style: none;
    padding: 0;
    margin: 0;

    margin-left: 20px;
    
}

nav a{
    padding: 2px 5px;
}