/** {
	border: 1px solid hotpink;
	padding: 2px;
}*/

.container{
	margin:	0 auto;
	width: 90%;
	max-width: 960px;

	display: grid;
	grid-template-columns: 260px 1fr 200px;
}
.is-current {
	background-color: black;
	color: white;
}
header	{
	grid-column: 1 / 2;
}
header a {
	display: block;
	position: relative;
}
header h1 {
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top: 100px;
	left: -76px;
	
	font-family: 'Merienda One', cursive;
}
header a img {
	padding-left: 39px;
}
aside {
	grid-column: 2 / 4;
	align-self: end;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: x-large;
	font-style: italic;
}
aside ul {
	list-style-type: none;
	padding-left: 0px;
}

main{ grid-column: 1 / 4; }

main h2 {
	font-family: 'Staatliches', cursive;
}

footer { 
	grid-column: 1 / 2; 
	font-family: 'Lobster', cursive;
}

nav {
	grid-column: 2 / 4;
	font-family: 'Faster One', cursive;
}
nav ul 	{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}

nav li {
	margin-left: 10px;
	padding: 10px;
}
nav li a {
	padding: 10px;
}
p {
	font-family: 'Prata', serif;
}